/* Default (Light mode) styles */
body {
  background-color: #ffffff;
  color: #000000;
}

.hero-container {
  background-color: #f8f8f8;
  color: #333;
}

/* Dark mode styles */
.dark-mode {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
}

.dark-mode .hero-container {
  background-color: #1e1e1e; /* Dark background for the hero section */
  color: #ffffff; /* Light text for the hero section */
}

.dark-mode button {
  background: linear-gradient(225deg, #503beb 0%, #7a56e4 100%);
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.1), -4px -4px 20px rgba(255, 255, 255, 0.1);
}

.dark-mode .text-white {
  color: #f5f5f5;
}

.dark-mode .text-black {
  color: #eeeeee;
}
